mixin applicationForm(type)
  section.form(class!=attributes.containerClass)
    .form__main
      h3.form__h3 Нужна Консультация? Оставьте заявку и в течении 2 минут наш менеджер с Вами свяжется!
      form.form__container
        input.form__input.name(
          type="text"
          placeholder="Ваше имя"
          requared
          )
        input.form__input.number(
          type="text"
          placeholder="Ваш номер"
          data-inputmask="'mask': '+7(999) 999-9999'"
          requared
        )
        button.form__btn.btn(
          disabled="disabled") ОСТАВИТЬ ЗАЯВКУ    
      label
        input.form__checkbox(
          type="checkbox"
          requared
          )
        span.form__checkbox-custom
      span.form__label Даю согласие на обработку персональных данных