footer.footerprev
  .container
    .row
      .col-md-10.col-sm-8
        ul.footerprev__list
          li.footerprev__item
            p=navBottom[1].title
          each subLink in navBottom[1].subMenu
            li.footerprev__items
              a(href=subLink.links)=subLink.text
        ul.footerprev__list
          li.footerprev__item
            p=navBottom[1].subMenuChild[0].tag
          each subLink in navBottom[1].subMenuChild
            li.footerprev__items
              a(href=subLink.links)=subLink.text
        ul.footerprev__list
          li.footerprev__item
            p Остальные услуги
          li.footerprev__items
            a(href=navBottom[2].link)=navBottom[2].title
          li.footerprev__items
            a(href=navBottom[3].link)=navBottom[3].title
        ul.footerprev__list
          li.footerprev__item
            a(href=navBottom[5].link)=navBottom[5].title
          each subLink in navTop
            li.footerprev__items
              a(href=subLink.link)=subLink.title
      .col-md-2.col-sm-4.col-xs-12
        .row  
          .text-right.col-xs-12
            ul.footerprev__numberslist
              li.footerprev__numbers=contactInfo.company.tel
              li.footerprev__numbers Звонок по России бесплатный
          //- .col-md-6.col-xs-12
          //-   ul.footerprev__pickupList
          //-     each item in pickupList
          //-       li.footerprev__pickupitem
          //-         a(href=item.link)=item.text
    .footerprev__paymentmethod Способ оплаты:
      p Наличный и безналичный расчет
    //- .footerprev__details-link
    //-   a.footerprev__details(href="#") Подробнее об оплате
            
