section.headerbottom
  .navbar.navbar-inverse 
    .container
      .row
        .navbar-header
          button.navbar-toggle(
            type='button'
            data-toggle='collapse'
            data-target='#responsive-menu'
          )
            span.sr-only 
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse#responsive-menu.pad
          ul.headerbottom__nav
            each item in navBottom
              li(class=item.subMenu? 'indicator' : '', data-index= index).headerbottom__navitems
                if !item.subMenu
                  a(href= item.link)= item.title
                if item.subMenu
                  span= item.title
                  ul.headerbottom__subnav
                    if item.subMenuChild
                      li.headerbottom__subitem 
                        span= item.subMenuChild[0].tag
                        ul.headerbottom__subnav_child
                          each child in item.subMenuChild
                            li.headerbottom__subitem_child
                              a(href=child.links)=child.text
                    each subitem in item.subMenu
                      li.headerbottom__subitem
                        a(href=subitem.links)=subitem.text