-
  let navList = [{link:'#', text:'Услуги и цены'},
  {link:'#', text:'Оборудование'},
  {link:'#', text:'Наши проекты'},
  {link:'#', text:'Наши проекты'}];
-
  let logoList = ['/img/allen-logo.png',
  '/img/pullman-logo.png',
  '/img/leica-logo.png',
  '/img/hilti-logo.png',
  '/img/whiteman-logo.png',
  '/img/blastrac-logo.png'];
-
  let logoList2 = ['/img/ingri-logo.png',
  '/img/basf-logo.png',
  '/img/rsl-logo.png',
  '/img/sika-logo.png',
  '/img/qtp-logo.png',
  '/img/turex-logo.png',
  '/img/universam-logo.png']; 

include ./applicationform   

section.mainmaterials
  .main__top(style={'background-image': 'url("/img/' + imagePath + name + '/' + content.mainBg + '")'})
    .main__text
      .container
        h1.main__h1= title
        h2.main__h2= subTitle
  .container
    .row
      .main__twoblocks
        .main__prev.col-md-6
          include ./breadcrumbs
        //- .main__next.col-md-6
        //-   ul.main__nav
        //-     ul.main__nav
        //-     each item in navList
        //-       li.main__items
        //-         a(href=item.link)=item.text
      .mainmaterials__par.editor
        p= content.text
    .row
      .mainmaterials__block.col-md-12
        .mainmaterials__listing.col-md-6
          .mainmaterials__list Полимерные полы используются при оборудованиях:
          ul 
            li.mainmaterials__markeritem
              img(src='/img/iconmarker.png')
              span складских помещениях;
            li.mainmaterials__markeritem
              img(src='/img/iconmarker.png')
              span подземных парковках автомобилях;
            li.mainmaterials__markeritem 
              img(src='/img/iconmarker.png')
              span гаражных помещениях;
            li.mainmaterials__markeritem 
              img(src='/img/iconmarker.png')
              span офисах;
            li.mainmaterials__markeritem
              img(src='/img/iconmarker.png')
              span помещениях торгово-выставочных залов;
            li.mainmaterials__markeritem
              img(src='/img/iconmarker.png')
              span  предприятиях пищевой промышленности;
            li.mainmaterials__markeritem
              img(src='/img/iconmarker.png')
              span  лабораториях и медицинских центрах.   
        .mainmaterials__applicationblock.main__applicationform.col-md-6 
          +applicationForm()(containerClass='box')
    .editor.mainmaterials__rates  
      h2 Расценки на услуги
    table.mainmaterials__table.col-xs-12
      thead
        tr
          th.mainmaterials__headers Наименование работ
          th.mainmaterials__headers Ед. изм.
          th.mainmaterials__headers Цена (руб.)
      tbody.mainmaterials__body   
        tr
          td.mainmaterials__items Шлифовка бетонного пола
          td.mainmaterials__items м2
          td.mainmaterials__items 70 руб.
        tr  
          td.mainmaterials__items Обеспыливание промышленным пылесосом
          td.mainmaterials__items м2
          td.mainmaterials__items 20 руб.
        tr  
          td.mainmaterials__items Нанесение грунтовки (в 1-3 слоя)
          td.mainmaterials__items м2
          td.mainmaterials__items 80 руб.
        tr  
          td.mainmaterials__items Шпаклевание основания с кварцевым песком и промежуточной шлифовкой
          td.mainmaterials__items м2
          td.mainmaterials__items 100 руб.
        tr  
          td.mainmaterials__items Нанесение финишного наливного слоя с предварительной шлифовкой и обеспыливанием
          td.mainmaterials__items м2
          td.mainmaterials__items 240 руб.
        tr
          td.mainmaterials__items Нанесение тонкослойного финишного покрытия
          td.mainmaterials__items м2
          td.mainmaterials__items 150 руб.
    blockquote.main__blockquote.blockquote.col-xs-10
      p Внимание! Стоимость на услуги может меняться в зависимости от объема и сложности работ
    .mainmaterials__equipment
      .editor.col-xs-12.clearfix
        h2= content.subTitle1
        div!= content.text1
        img(src='/img/' + imagePath + name + '/' + content.img1,style={'float': 'left'})
        ul
          each item in content.list1
            li.padd
              span= item
        p= content.text1_1
        ul.mainmaterials__imgList
          each item in logoList
            li.mainmaterials__imgs
              img(src=item)
        h2= content.subTitle2
        img(src='/img/' + imagePath + name + '/' + content.img2, style={'float': 'right'})
        div!= content.text2
        if content.list2
          ul
            each item in content.list2
              li.padd
                span= item
        if content.text2_1
          p= content.text2_1
        if content.text3
          p= content.text3
      ul.mainmaterials__imgList2.col-xs-12
        each item in logoList2
          li.mainmaterials__imgs
            img(src=item)
      
        
  .main__applicationform
    .container
      +applicationForm()                  